venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.DS_Store

__pycache__/
finance.db
alembic.ini

cache/

historical_data_cache_44days.pkl
historical_data_cache_51days.pkl
historical_data_cache_60days.pkl
historical_data_cache_75days.pkl
pure_5k_cache_40days.pkl